export TEST_TRACE=1
export TEST_DB_DSN="dbname=neper host=/var/run/postgresql port=5433"
export TEST_KETO_READ_HOST="localhost:4466"
export TEST_KETO_READ_SCHEME="http"
export TEST_KETO_WRITE_HOST="localhost:4467"
export TEST_KETO_WRITE_SCHEME="http"

