# go tests
export TEST_TRACE=1
export TEST_DB_DSN="dbname=neper host=/var/run/postgresql port=5432"

# real life testing
export NEPER_SERVE_WINE_PREFIX=~/neperwine
export NEPER_DB_DSN="dbname=neper-stars host=/var/run/postgresql port=5432"

